<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Abstimmungsübersicht</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static_abstimmung', path='abstimmung.css') }}">
    <link rel="stylesheet" href="{{ url_for('static_common', path='base.css') }}">
</head>
<body>
<div class="page">
    <header>
        <div>
            <h1>Abstimmungsübersicht</h1>
            <p class="subtitle">
                Hier sehen Sie eine Übersicht über aktuelle Abstimmungsthemen.
            </p>
        </div>
        <div class="actions">
            <a class="btn" href="/startseite">Startseite</a>
            {% if is_admin %}
                <a class="btn primary" href="/ui/admin/abstimmungen/neu">Abstimmung erstellen</a>
            {% endif %}
        </div>
    </header>


    <div class="topic-list">
        {% for a in abstimmungen %}
            <a class="topic-button"
               href="/ui/abstimmung/{{ a.abstimmungsID }}">
                <div>
                    <span class="label">Thema {{ loop.index }}:</span>
                    {{ a.titel }}
                </div>

            </a>
        {% endfor %}
    </div>
</div>
</body>
</html>
